page{
   height: 100%;
   width: 100%;
   background-color: #ccc;
}
scroll-view{
   height: 100%;
   width: 100%;
}
.detailBox{
   width: 100%;
}
.detail{
   padding: 4px 6px;
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: white;
}
.detail image{
   width: 100%;
}
@media screen and (max-width: 321px) {
  .detail image {
       height: 395px;
  }
}

@media screen and (min-width: 322px) and (max-width: 400px) {
  .detail image {
       height: 460px;
  }
}

@media screen and (min-width: 400px) {
  .detail image{
       height: 520px;
  }
}
.detail b{
   color: black;
   font-size: 14px;
   font-weight: bold;
   line-height: 18px;
}
.detail p{
   color: #2d2d2d;
   font-size: 14px;
   line-height: 18px;
}
.detail view{
   padding: 6px 0;
}
.detail i{
   display: inline;
   padding: 2px 4px;
   border: 1px solid rgb(136, 136, 136);
   color: rgb(136, 136, 136);
   font-size: 13px;
   line-height: 18px;
}
.payWay{
   margin: 4px 0;
   padding-left: 6px;
   width: 100%;
   height: 48px;
   background-color: white;
}
.payWay text{
   line-height: 48px;
   font-size: 14px;
   color: #2d2d2d;
}
.payWay i{
   margin-left: 6px;
}
.payWay .wayOne{
   display: inline-block;
   width: 42px;
   height: 17px;
   border: 1px solid #ccc;
   background: url("/images/zhifu_logo.png") left -20px top -6px;

}
.payWay .wayTwo{
   display: inline-block;
   width: 27px;
   height: 17px;
   border: 1px solid #ccc;
   background: url("/images/zhifu_logo.png") left -38px top -44px;
}
.payWay .wayThree{
   display: inline-block;
   width: 37px;
   height: 17px;
   border: 1px solid #ccc;
   background: url("/images/zhifu_logo.png") left -32px top -82px;
}
.sizeColor{
   display: flex;
   flex-direction: column;
   background: white;
   height: 67px;
   width: 100%;
   font-size: 14px;
   background:white url('/images/pic_arrow.png') no-repeat right 10px center;
}
.sizeColor view{
   flex: 1;
   padding: 0 6px;
}
.sizeColor view b{
   line-height: 33px;
   color:#2d2d2d;
   padding-right: 12px;
}
.sizeColor view i{
   color:rgb(136,136, 136);
}
.evaluate{
   margin: 8px 0;
   width: 100%;
   height: 37px;
   padding: 0 6px;
   font-size: 14px;
   background-color: white;
}
.evaluate b{
   line-height: 37px;
}
.information{
   width: 100%;
   height: 37px;
   border: 1px solid #ccc;
   background: white;
   font-size: 14px;
}
.information ul{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-around;
}
.information ul li{
   flex: 1;
   text-align: center;
   line-height: 37px;
}
.showInfor{
   width: 100%;
}
.showInfor swiper-item{
   padding: 0 6px;
   background: white;
}
.showInfor swiper-item view{
   display: flex;
   flex-direction: column;
}
.showInfor swiper-item view b{
   font-size: 12px;
   color: #2d2d2d;
}
.showInfor swiper-item view i{
   font-size: 12px;
   color: #888;
   word-break: normal;
}
